<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HomeFit
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- Ícone de perfil -->
      <ion-avatar>
        <img src="assets/img/iconperfil.jpg" alt="Profile Image">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Resumo Diário</ion-card-title>
        <ion-label>Calorias Meta: {{macronutrientes.calorias.meta}}</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-icon name="flame-outline" slot="start"></ion-icon>
                <ion-label>Calorias</ion-label>
                <ion-badge slot="end">{{macronutrientes.calorias.consumidas}} Consumidas</ion-badge>
              </ion-item>
              <ion-progress-bar color="danger" value="{{macronutrientes.calorias.consumidas / macronutrientes.calorias.meta}}"></ion-progress-bar>
              <ion-label>Restantes: {{macronutrientes.calorias.meta - macronutrientes.calorias.consumidas}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-icon name="restaurant-outline" slot="start"></ion-icon>
                <ion-label>Carboidratos</ion-label>
                <ion-badge slot="end">{{macronutrientes.carboidratos.consumidos}} / {{macronutrientes.carboidratos.meta}} g</ion-badge>
              </ion-item>
              <ion-progress-bar  color="primary" value="{{macronutrientes.carboidratos.consumidos / macronutrientes.carboidratos.meta}}"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-icon name="fitness-outline" slot="start"></ion-icon>
                <ion-label>Proteínas</ion-label>
                <ion-badge slot="end">{{macronutrientes.proteinas.consumidos}} / {{macronutrientes.proteinas.meta}} g</ion-badge>
              </ion-item>
              <ion-progress-bar color="success" value="{{macronutrientes.proteinas.consumidos / macronutrientes.proteinas.meta}}"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-icon name="pizza-outline" slot="start"></ion-icon>
                <ion-label>Gorduras</ion-label>
                <ion-badge slot="end">{{macronutrientes.gorduras.consumidos}} / {{macronutrientes.gorduras.meta}} g</ion-badge>
              </ion-item>
              <ion-progress-bar color="warning" value="{{macronutrientes.gorduras.consumidos / macronutrientes.gorduras.meta}}"></ion-progress-bar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Histórico da Semana</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id="weeklyProgressChart"></canvas> <!-- Placeholder para gráfico semanal -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
