<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h2>Crie sua conta</h2>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" placeholder="Seu nome"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="continuar()">Continuar</ion-button>

    <!-- Swiper.js substituindo o ion-slides -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h3>Slide 1</h3>
          <p>Conteúdo do slide 1</p>
        </div>
        
      </div>
      <!-- Se quiser adicionar a paginação -->
      
    </div>
  </div>
</ion-content>
