<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" placeholder="Digite a senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Repita a senha</ion-label>
      <ion-input type="password" placeholder="Digite a senha novamente"></ion-input>
    </ion-item>
    <ion-button routerLink="/sucesso" routerLinkActive="active" expand="block">Continuar</ion-button>
  </div>
</ion-content>
