// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-facebook: #3b5998;  /* Cor oficial do Facebook */
    --ion-color-facebook-rgb: 59, 89, 152;
    --ion-color-facebook-contrast: #ffffff;
    --ion-color-facebook-contrast-rgb: 255, 255, 255;
    --ion-color-facebook-shade: #334d84;
    --ion-color-facebook-tint: #4567a0;
  }

  :root {
    --ion-color-twitter: #1da1f2;  /* Cor oficial do Twitter */
    --ion-color-twitter-rgb: 29, 161, 242;
    --ion-color-twitter-contrast: #ffffff;
    --ion-color-twitter-contrast-rgb: 255, 255, 255;
    --ion-color-twitter-shade: #1a91da;
    --ion-color-twitter-tint: #39b1f4;
  }