<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <h1 class="title">HomeFit</h1>
    <p class="welcome-text">Seja Bem Vindo!</p>

    <form [formGroup]="loginForm" (ngSubmit)="autenticar()">
      <!-- Campo de Email -->
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Seu email"></ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <p *ngIf="loginForm.get('email')?.hasError('required')">O e-mail é obrigatório.</p>
        <p *ngIf="loginForm.get('email')?.hasError('email')">Por favor, insira um e-mail válido.</p>
      </div>

      <!-- Campo de Senha -->
      <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Sua senha"></ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <p *ngIf="loginForm.get('password')?.hasError('required')">A senha é obrigatória.</p>
        <p *ngIf="loginForm.get('password')?.hasError('minlength')">A senha deve ter no mínimo 6 caracteres.</p>
      </div>

      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
        Entrar
      </ion-button>

      <!-- Link para registro -->
      <p class="register-text">Não tem uma conta? <ion-router-link routerLink="/registro" routerLinkActive="active">Registre-se agora</ion-router-link></p>

      <!-- Botões de Login Social -->
      <div class="social-login">
        <ion-button expand="block" class="facebook-button">Entrar com Facebook</ion-button>
        <ion-button expand="block" color="danger">Entrar com Google+</ion-button>
        <ion-button expand="block" class="twitter-button">Entrar com Twitter</ion-button>
      </div>
    </form>
  </div>
</ion-content>