.login-container {
    padding: 20px;
    
  
    .title {
      font-size: 2rem;
      color: #007bff;
    }
  
    .welcome-text {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  
    .forgot-password-text button {
      background: none;
      border: none;
      color: blue;
      font-size: 16px;
      cursor: pointer;
      text-decoration: underline;
    }
  
    .register-text {
      margin-top: 20px;
      font-size: 0.9rem;
    }
  
    .social-login {
      margin-top: 20px;
  
      ion-button {
        margin-bottom: 10px;
      }
    }
  }

    .facebook-button {
    --background: var(--ion-color-facebook);
    --color: var(--ion-color-facebook-contrast);
     }

     .twitter-button {
        --background: var(--ion-color-twitter);
        --color: var(--ion-color-twitter-contrast);
      }

      .login-content {
        --background: #ffffff; /* Cor de fundo opcional */
        
        .header-container {
          text-align: left; /* Alinhamento à esquerda */
          margin: 20px; /* Adiciona margem ao redor do contêiner */
        }
      
        .homefit-title {
          font-size: 3.5rem; /* Aumenta o tamanho do título */
          color: #1e88e5; /* Azul similar ao usado na imagem */
          font-weight: bold; /* Deixa o texto mais robusto */
          margin-bottom: 2px; /* Espaçamento abaixo do título */
        }
      
        .welcome-subtitle {
          font-size: 2.0rem; /* Aumenta o tamanho do subtítulo */
          color: #333333; /* Cor mais escura para o subtítulo */
          font-weight: 300; /* Subtítulo com peso de fonte mais leve */
        }
      }