<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>configs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Tema -->
    <ion-item>
      <ion-label>Tema Escuro</ion-label>
      <ion-toggle (ionChange)="toggleTheme($event)" [checked]="isDarkMode"></ion-toggle>
    </ion-item>

    <!-- Notificações -->
    <ion-item>
      <ion-label>Notificações</ion-label>
      <ion-toggle (ionChange)="toggleNotifications($event)" [checked]="notificationsEnabled"></ion-toggle>
    </ion-item>

    <!-- Gerenciar Conta -->
    <ion-item routerLink="/account">
      <ion-label>Gerenciar Conta</ion-label>
    </ion-item>

    <!-- Sobre o Aplicativo -->
    <ion-item (click)="showAbout()">
      <ion-label>Sobre o Aplicativo</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
