<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HomeFit</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="container">
    <h2>Receitas</h2>

    <!-- Busca Personalizada -->
    <div class="search-container">
      <ion-item>
        <ion-input placeholder="Digite o nome da receita, ingrediente ou categoria" [(ngModel)]="searchQuery" clearInput></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="searchRecipes()">Buscar</ion-button>
      <ion-list *ngIf="searchResults.length > 0">
        <ion-item *ngFor="let recipe of searchResults">
          <ion-label>{{ recipe.translatedTitle || recipe.title }}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Filtros de Categorias -->
    <div class="categories-container">
      <h3>Categorias</h3>
      <ion-segment [(ngModel)]="selectedCategory" (ionChange)="filterByCategory($event.detail.value || '')">
        <ion-segment-button value="cafe-da-manha">Café da Manhã</ion-segment-button>
        <ion-segment-button value="almoco">Almoço</ion-segment-button>
        <ion-segment-button value="sobremesas">Sobremesas</ion-segment-button>
        <ion-segment-button value="Janta">Janta</ion-segment-button>
      </ion-segment>
    </div>

    <div class="add-food-container">
      <ion-item>
        <ion-input
          placeholder="Digite o alimento"
          [(ngModel)]="foodInput"
          clearInput
          (keyup.enter)="addFood(foodInput)"
        ></ion-input>
        <ion-button color="success" fill="clear" (click)="addFood(foodInput)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    
      <div class="food-tags">
        <ion-chip *ngFor="let food of foods; let i = index" (click)="removeFood(i)">
          {{ food }}
          <ion-icon name="close-circle" (click)="removeFood(i)"></ion-icon>
        </ion-chip>
      </div>
    
      <ion-button expand="full" color="secondary" shape="round" (click)="getRecipes()">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        Buscar Receitas
      </ion-button>
    </div>


   <!-- Exibição de receitas baseadas nos alimentos adicionados -->
   <div *ngIf="isFoodOptionsVisible">
    <h3>Opções de Receitas</h3>
    <ion-list>
      <ion-item *ngFor="let recipe of recipeData">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ recipe.translatedTitle || recipe.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="recipe.image" alt="{{ recipe.title }}"></ion-img>
  
            <div *ngIf="hasInstructions(recipe)">
              <p *ngIf="!recipe.showInstructions">{{ getFirstStep(recipe) }}...</p>
              
              
              <ion-button expand="block" fill="clear" (click)="togglePreparation(recipe)">
                {{ recipe.showInstructions ? 'Ver Menos' : 'Ver Mais' }}
              </ion-button>
              
              <div *ngIf="recipe.analyzedInstructions && recipe.analyzedInstructions.length > 0">
                <ol *ngIf="recipe.showInstructions">
                  <li *ngFor="let step of recipe.analyzedInstructions[0]?.steps">
                    {{ step.translatedStep || step.step }}
                  </li>
                </ol>
              </div>
              <ng-template #noInstructions>
                <p>Instruções não disponíveis para esta receita.</p>
              </ng-template>
              
            </div>

            <!-- Botões para Favoritar e Adicionar à Lista de Compras -->
            <ion-button fill="outline" (click)="toggleFavorite(recipe)">
              <ion-icon [name]="recipe.isFavorite ? 'heart' : 'heart-outline'"></ion-icon>
              {{ recipe.isFavorite ? 'Favoritado' : 'Favoritar' }}
            </ion-button>
            <ion-button fill="solid" (click)="addToShoppingList(recipe)">
              <ion-icon slot="start" name="cart-outline"></ion-icon>
              Adicionar à Lista de Compras
            </ion-button>
            <ion-button fill="clear" (click)="shareRecipe(recipe)">
              <ion-icon slot="start" name="share-social-outline"></ion-icon>
              Compartilhar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  </div>

  <ng-container *ngIf="recipeData.length === 0 && isFoodOptionsVisible">
    <div class="no-recipes-message">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">
            <h2 style="color: #007BFF;">Nenhuma Receita Encontrada</h2>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <p style="font-size: 1.2em; color: #666;">Tente adicionar alguns alimentos e busque receitas novamente.</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>
</ion-content>

