<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HomeFit</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="container">
    <h2>Receitas</h2>

    <div class="recipe-grid">
      <div *ngFor="let recipe of recipeData">
        <ion-img [src]="recipe.image"></ion-img>
        <p>{{ recipe.title }}</p>

      </div>
      
    </div>

    <div class="add-food-container">
      <ion-button expand="full" >
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Adicione alimento
      </ion-button>
      <ion-button expand="full">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Adicione alimento
      </ion-button>
      <ion-button expand="full">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Adicione alimento
      </ion-button>
    </div>

    <ion-button expand="full" color="primary" (click)="getRecipes()">Buscar</ion-button>
  </div>

  
</ion-content>